body
{
    margin: 0;
    padding: 0;
    color: #333;
    font:normal 14px RobotoLight;
    overflow-y:scroll;
    background:url("../IMG/Bg.jpg");
}
.flL {
    float:left;
}
.flR {
    float:right;
}
.flC {
    clear:both;
}
/********************************************************************
        Fliters
*********************************************************************/
div.Filters {
    background: #ffffff;
    color: #333333;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    text-align:center;
}
div.Filters > div {
    display:inline-block;
    text-align:left;
}
div.Filters > div > div {
    padding: 5px;
}

div.Filters span.Title {
    display: block;
}

    div.Filters h3 {
        color: #333333;
        font-size: 22px;
        margin: 10px;
        font-weight: normal;
    }

        div.Filters h3 span {
            font-family: MetaBlack, "Trebuchet MS",sans-serif;
            font-style: normal;
            font-weight: bold;
            text-align: left;
            color: #FE6000;
        }

    div.Filters a.Buttons, #ZoneSelector, label.Custom, #Quantity, div.PriceDiv {
        background: none repeat scroll 0 0 #F3F3F3;
        border: 1px solid #CCCCCC;
        box-shadow: 0 1px 0 0 #FFFFFF inset;
        color: #333333;
        cursor: pointer;
        display: inline-block;
        font: bold 12px Arial,sans-serif;
        padding: 6px 10px !important;
        text-decoration: none;
    }
    label.Custom.ui-state-active {
    background: none repeat scroll 0 0 #C4C4C4;
    box-shadow: 0 1px 2px #333333 inset;
    color: #000000;
}
label.Custom {
    border-radius: 0px;
}

    label.Custom > span {
        padding: 0 !important;
    }

/********************************************************************
List and Map Containers
*********************************************************************/
DIV#ChartListContainer {
    margin: 0 auto;
    position: relative;
}
DIV.TicketListContainer
{
   background: none repeat scroll 0 0 #F2F2F2;
    float: left;
    min-height: 100px;
    position: relative;
    width: 350px;
}
#TuMap {
    overflow: hidden; 
    min-width: 300px;
    background:#FFF;
    padding:5px;
}
div#GroupsContainer {
    position:absolute;
    top:-1000px;
    width:400px;
}
div.tuMapPreferredFilter {
    display: none;
}
/* Zone Selector*/
div.ZoneOverlay {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 4px 5px rgba(50, 50, 50, 0.5);
    padding: 7px;
}
/********************************************************************
Ticket List
*********************************************************************/
.TicketRow
{
    padding: 5px 0;
    text-align: center;
    font-size:13px;
}
.TicketRow div.Ticket {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0;
    text-align: left;
}
.TicketRow div.Ticket div.TicketUpperSection {
    background: none repeat scroll 0 0 #FFF8DE;
    border-bottom: 1px solid #DDCC8B;
    box-shadow: 0 0 5px #DDCC8B inset;
    color: #333333;
    font: bold 13px Arial;
    padding: 8px;
}
.TicketRow div.Ticket div.TicketLowerSection {
    padding: 8px;
	min-height:50px;
}
div.TicketLowerSection div.RowSection {
    color: #333333;
    float: left;
    width: 100px;
}
span.tuMapNote {
    background:url("../IMG/info.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 17px;
    margin: 0 0 0 15px;
    width: 17px;
}
.TicketRow input[type="button"], .HideShowListButton {
    float: right;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAB114', endColorstr='#F76808'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FAB114), to(#F76808)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #FAB114, #F76808); /* for firefox 3.6+ */
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    font: bold 12px Trebuchet,"Trebuchet MS" !important;
    padding: 4px 7px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

    .TicketRow input[type="button"]:hover, .HideShowListButton:hover {
        color: #000000;
        text-shadow: 0 0 0;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F76808', endColorstr='#FAB114'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#F76808), to(#FAB114)); /* for webkit browsers */
        background: -moz-linear-gradient(top, #F76808, #FAB114); /* for firefox 3.6+ */
    }
.TicketRow div.TicketBot {
    background: none repeat scroll 0 0 #E6E6E6;
    clear: both;
    padding: 0 5px;
    text-align: right;
}
.TicketRow span.eTicket {
    background: url("../IMG/eTicket.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 20px;
    width: 19px;
}
.TicketRow div.TicketBot > * {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
/***********QuantitySelector***********/
div#Quantity {
    margin: 10px 0 7px;
}
#ZoneSelector > b, #Quantity > b {
    background: url("../IMG/UpDownArrow.png") no-repeat scroll 0 -26px rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 7px;
    margin: 6px 0 0 10px;
    width: 10px;
}
#ZoneSelector.Active, #Quantity.Active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: medium none;
    border-radius: 4px 0 0;
    color: #000000;
}
#ZoneSelector.Active > b, #Quantity.Active > b {
    background-position: 0 0;
}
ul.QtySelector {
    margin: 0;
    padding: 0;
}
ul.QtySelector li {
    list-style: none outside none;
}
ul.QtySelector li a.Selected, ul.QtySelector li a.Selected {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}
ul.QtySelector li a.Selected, ul.QtySelector li a:hover {
    background-color: #333333;
    color: #FFFFFF;
}
ul.QtySelector li a {
    cursor: pointer;
    display: block;
    padding: 3px;
}
/*********************Price-Range Selector***************************/
div.PriceDiv {
    margin: 15px -6px 7px;
    width: 175px;
}
div.PriceSlider {
    padding-top: 10px;
}
div#price-range {
    border-color: #282828;
    height: 5px;
}
div#price-range > div.ui-slider-range {
        background-color: #343434;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#484848', endColorstr='#343434'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#343434)); /* for webkit browsers */
        background: -moz-linear-gradient(top, #484848, #343434); /* for firefox 3.6+ */
    }
div#price-range > a {
        width: 10px;
        height: 13px;
        background: #fff;
        position: relative;
        display: inline-block;
        margin-left: -13px;
        border: 1px solid #333333;
    }

        div#price-range > a:after {
            content: "";
            position: absolute;
            border-bottom: 5px solid #fff;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            margin-top: -3px;
        }

div.PriceSlider .Marker {
    color: #444444;
    font-size: 8px;
    font-family: Verdana;
    margin: 20px 0 -22px;
    font-weight: normal;
    padding: 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #fff9c8;
    line-height: normal;
}

div#PreferdFilter {
    margin: 0 0 0 -1px;
}
div#PreferdFilter span.Icon {
    margin-top:-1px;
}
span.Icon {
    background: url("/IMG/preferred.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 14px;
    margin-right: 4px;
    vertical-align:middle;
    width: 16px;
}
#ZoneSelector {
    border-radius: 4px 0 0 4px;
    margin: 10px 0 7px;
     display: none;
    position: relative;
    z-index: 101;
}